<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/semantic.css">
		<script type="text/javascript" src="/static/semantic.js"></script>
		<title>Database</title>
		<style type="text/css">
			h1 {
				padding-left: 60px;
				padding-top: 10px;
			}
			.segment {
				width: 95%;
			}
		</style>
	</head>
	<body>
		<script type="text/javascript">
			function getRow(cell) {
				return cell.parentNode.parentNode;
			}

			function removeRow(cell) {
				getRow().remove();
			}

			var editCell = function(cell) {
				removeRow();
			}
		</script>
		<h1>Database</h1>
		<div class="ui segment" style="margin: 0 auto">
			{% for m in models %}
			<div class="ui segment" style="margin: 0 auto; margin-bottom: 10px">
				<h2>{{ m.name }}</h2>
				<table class="ui celled table">
					<thead>
						<tr>
							{% for c in m.columns %}
								<th>{{ c }}</th>
							{% endfor %}
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
					{% for r in m.rows %}
						<tr>
							{% for v in r %}
								<td id="cell" contenteditable="false">{{ v }}</td>
							{% endfor %}
							<td class="selectable negative"><a href="javascript:void(0)" onclick="editCell(this);">Remove</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
