<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% comment "optional note" %}
		    <script src="/static/jquery-2.2.3.js"></script>
				<link rel="stylesheet" type="text/css" href="/static/semantic.css">
				<script type="text/javascript" src="/static/semantic.js"></script>
				<link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">
		{% endcomment %}
		{% include "includes.html" %}
		<title>Database</title>
		<style type="text/css">

			.scroll.area {
				overflow: auto;
				max-height: 90%;
			}

			.orange.image.header {
				margin: auto;
				padding-left: 60px;
			}
			.segment {
				width: 90%;
			}
			.compact.ui.warning.message {

			}
		</style>
	</head>
	<body>
		<script type="text/javascript">
			function removeRow(row_nr, model_nr) {
				var data = {model_nr:model_nr, row_nr:row_nr, csrfmiddlewaretoken: '{{ csrf_token }}'};
				if (confirm("Are you sure you want to delete this row?")) {
					$.post("/api/removerowfromdatabase", data)
						.done(function(content, status) {
							if (status == 'success') {
								if (content == 'success: remove') {
									$('#model'+(model_nr).toString()+'-row'+row_nr).remove();
								} else if (content == 'error: remove') {
									alert("Couldn't remove");
								}
							}
						});
				}
			}

			var editCell = function(cell) {
				// 
			}

			$(document).ready(function() {
				$('.selectable.warning').popup({
					hoverable: true,
					on: 'click',
					position: 'bottom center'
				});
				/*$('.user-popup')
					.popup({
				    	popup    : $('.ui.popup'),
				    	hoverable: true,
				    	on		 : 'click',
				    	position : 'bottom left'
				});*/
			});
		</script>
		{% include "sidebar.html" %}
		<div class="pusher landing-image">
			{% include "header.html" %}
			<h1 class="ui orange image header">Database</h1>
			<div class="ui segment scroll area" style="margin: 0 auto; webkit-overflow-scrolling: touch;">
				<div class="compact ui warning message">
					You can now delete rows. Edit still doesn't work.
				</div>
				{% for m in models %}
				<div class="ui segment" style="margin: 0 auto; margin-bottom: 10px;">
					<h2>{{ m.name }}</h2>
					<table class="ui celled table">
						<thead>
							<tr>
								{% for c in m.items.0.keys %}
									<th>{{ c }}</th>
								{% endfor %}
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
						{% for r in m.items %}
							<tr id="model{{ forloop.parentloop.counter }}-row{{ r.id }}">
								{% for v in r.values %}
									<td id="cell" contenteditable="false">{{ v }}</td>
								{% endfor %}
								<td class="selectable center aligned warning user-popup" data-html=
									"<div class='ui link list'>
										<a class='item'>Edit values</a>
										<a class='item' onclick='removeRow({{r.id}}, {{forloop.parentloop.counter}})'>Remove</a>
									</div>">
									Edit
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
