<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% comment "optional note" %}
		    <script src="/static/jquery-2.2.3.js"></script>
				<link rel="stylesheet" type="text/css" href="/static/semantic.css">
				<script type="text/javascript" src="/static/semantic.js"></script>
				<link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">
		{% endcomment %}
		{% include "includes.html" %}
		<title>Database</title>
		<style type="text/css">

			.scroll.area {
				overflow: auto;
				max-height: 90%;
			}

			.orange.image.header {
				margin: auto;
				padding-left: 60px;
			}
			.segment {
				width: 90%;
			}
			.compact.ui.warning.message {

			}
		</style>
	</head>
	<body>
		<script type="text/javascript">
			function removeRow(row_nr, model_nr) {
				var data = {model_nr:model_nr, row_nr:row_nr, csrfmiddlewaretoken: '{{ csrf_token }}'};
				if (confirm("Are you sure you want to delete this row?")) {
					$.post("/api/removerowfrommodel", data)
						.done(function(content, status) {
							if (status == 'success') {
								if (content == 'success') {
									$('#model-'+(model_nr).toString()+'-row-'+row_nr).remove();
								} else if (content == 'error') {
									alert("Couldn't remove");
								}
							}
						});
				}
			}

			function editRow(row_nr, model_nr) {
				var data = {};
				$.each($('#model-'+model_nr+'-row-'+row_nr)[0].cells, function (index, value) {
					if (value.id != '') {
						data[value.id] = value.textContent;
					}
				})
				console.log(data);
				// alert($('#model-'+model_nr+'-row-'+row_nr)[0].cells[0].textContent);
				if (confirm("Are you sure you want to upload changes to model nr. " + model_nr + " row nr. " + row_nr + "?")) {
					$.ajax({
						type: "POST",
						dataType: 'json',
						url: "/api/editrowinmodel",
						data: {csrfmiddlewaretoken:'{{ csrf_token }}', model_nr:model_nr, data:JSON.stringify(data)}
					})
					// $.post("/api/editrowinmodel", data)
					// 	.done(function(content, status) {
					// 		if (status != 'success') {
					// 			alert("Couldn't save changes.")
					// 		}
					// 	});
				}
			}

			$(document).ready(function() {
				$('.selectable.warning').popup({
					hoverable: true,
					on: 'click',
					position: 'bottom center'
				});
			});
		</script>
		{% include "sidebar.html" %}
		<div class="pusher landing-image">
			{% include "header.html" %}
			<h1 class="ui orange image header">Database</h1>
			<div class="ui segment scroll area" style="margin: 0 auto; webkit-overflow-scrolling: touch;">
				<div class="compact ui warning message">
					Seems to be working. Use at own risk though.
				</div>
				{% for model in models %}
				<div class="ui segment" style="margin: 0 auto; margin-bottom: 10px;">
					<h2>{{ model.name }}</h2>
					<table class="ui celled table">
						<thead>
							<tr>
								{% for column in model.items.0.keys %}
									<th>{{ column }}</th>
								{% endfor %}
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
						{% for row in model.items %}
							<tr id="model-{{ forloop.parentloop.counter }}-row-{{ row.id }}">
								{% for item in row.items %}
									{% if item.0 == 'password' or item.0 == 'id' or item.0 == 'datetime' or item.0 == 'rating' %}
										<td id="{{ item.0 }}" contenteditable="false">{{ item.1 }}</td>
									{% else %}
										<td id="{{ item.0 }}" spellcheck="false" contenteditable="true">{{ item.1 }}</td>
									{% endif %}
								{% endfor %}
								<td class="selectable center aligned warning user-popup" data-html=
									"<div class='ui link list'>
										<a class='item' onclick='editRow({{row.id}}, {{forloop.parentloop.counter}})'>Save edits</a>
										<a class='item' onclick='removeRow({{row.id}}, {{forloop.parentloop.counter}})'>Remove</a>
									</div>">
									Edit
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
