<div class="event">
	<div class="label">
		{% comment "optional note" %}
		    <!-- <img src="http://cdn.images.express.co.uk/img/dynamic/151/590x/Jesus-Main-626779.jpg"> -->
		{% endcomment %}
		<i class="{{post.devicetype}} icon" style="font-size: 2em; vertical-align: middle;"><div class="ui small image header">{{post.id}}</div></i>
	</div>
	<div class="content">
		<div class="summary">
			<a class="user">{{post.username}}</a> chatted
			<div class="date" id="date">{{post.date}}</div>
		</div>
		<div class="extra text" style="max-width: 500px;">
			{{ post.content | safe }}
		</div>
		<div class="meta">
			<a class="like">
				<i class="heart icon"></i> {{post.rating}} rating
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">window.message_id="{{post.id}}";</script>
