<div class="event">
	<div class="label">
		<!-- <img src=""> -->
		<i class="{{post.devicetype}} icon"></i>
	</div>
	<div class="content">
		<div class="summary">
			<a class="user">{{post.username}}</a> chatted
			<div class="date" id="date">{{post.date}}</div>
		</div>
		<div class="exra text" style="max-width: 500px;">
			{{ post.content | safe }}
		</div>
		<div class="meta">
			<a class="like">
				<i class="heart icon"></i> {{post.rating}} rating
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">window.message_id="{{post.id}}";</script>
