<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<script src="/static/jquery-2.2.3.js"></script> 
		<link rel="stylesheet" type="text/css" href="/static/semantic.css">
		<script type="text/javascript" src="/static/semantic.js"></script>
		<script type="text/javascript" src="/static/scripts/local.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">
		<script type="text/javascript" src="/static/scripts/toggleSidebar.js"></script>
	</head>
	<body>
		{% include "sidebar.html" %}
		<div class="pusher landing-image">
			{% include "header.html" %}
			<div class="ui middle aligned center aligned grid">
				<div class="column">
					<div class="ui segment">
						<h1 class="ui header">Welcome to StructChat!</h1>
						<p>StructChat is <b><i>the</i></b> place to be when you want to chat with your friends or family!</p>
						<a href="/login">Click here to login</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>