<script src="/static/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/static/scripts/local.js"></script>
<script type="text/javascript" src="/static/semantic.js"></script>
<link rel="stylesheet" type="text/css" href="/static/semantic.css">
<link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">

<script src="//twemoji.maxcdn.com/2/twemoji.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/twemoji.css">
<!-- <script src="//twemoji.maxcdn.com/twemoji.min.js"></script> -->