<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>StructChat</title>
		<link rel="stylesheet" type="text/css" href="/static/semantic.css">
		<script type="text/javascript" src="/static/semantic.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		<div class="ui segment">
			<div class="ui feed">
				{%for i in loop%}
					{% include "event.html" %}
				{% endfor %}
			</div>
			<form method="POST">
				<div class="ui action input bottom" style="width:100%;">
					<input placeholder="type message here" type="text">
					<button class="ui orange button">Send</button>
				</div>
			</form>
		</div>
	</body>
</html>
