<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<title>StructChat</title>
		{% include "includes.html" %}
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<!-- <script type="text/javascript" src="https://raw.githubusercontent.com/p01/mmd.js/master/mmd.min.js"></script> -->
		<!-- <script type="text/javascript" src="/static/scripts/index.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/pygment.css">
		<script type="text/javascript">
			var last_timestamp = "{{ last_timestamp }}";
			var loading_messages=true;
			// function notifyMe() {
			  if (!("Notification" in window)) {
			    alert("This browser does not support desktop notification");
			    console.log("Desktop Notifications disabled")
			  }
			  else if (Notification.permission === "granted") {
			    console.log("Desktop Notifications enabled")
			  }
			  else if (Notification.permission !== 'denied') {
			    Notification.requestPermission(function (permission) {
			      if (permission === "granted") {
			        console.log("Desktop Notifications active")
			      }
			    });
			  }

			// var notification = new Notification("Hi there!");

			// Set the name of the hidden property and the change event for visibility
			var hidden, visibilityChange;
			if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
			  hidden = "hidden";
			  visibilityChange = "visibilitychange";
			} else if (typeof document.mozHidden !== "undefined") {
			  hidden = "mozHidden";
			  visibilityChange = "mozvisibilitychange";
			} else if (typeof document.msHidden !== "undefined") {
			  hidden = "msHidden";
			  visibilityChange = "msvisibilitychange";
			} else if (typeof document.webkitHidden !== "undefined") {
			  hidden = "webkitHidden";
			  visibilityChange = "webkitvisibilitychange";
			}

			// If the page is hidden, pause the video;
			// if the page is shown, play the video
			// function handleVisibilityChange() {
			//   if (document[hidden]) {
			//     videoElement.pause();
			//   } else {
			//     videoElement.play();
			//   }
			// }

			// document.addEventListener(visibilityChange, handleVisibilityChange, false);

			function scrollArea() {
				$(".scroll.area").animate({
					scrollTop:$(".scroll.area").prop("scrollHeight")
				}, 300);
			}

			function sendChatMessage() {
				console.log($('#message_input')[0].value)
				if ($('#message_input')[0].value.length == 0) {
					return false;
				}
				$.get("/post?message_input="+encodeURIComponent($('#message_input')[0].value), function(data){})
					.done(function(){}
				);
				$('#message_input')[0].value=""
				return false
			}

			window.onload = function() {

				// Twemoji
				{% ifequal device "linux" %}
				twemoji.parse(document.body);
				{% endifequal %}
				{% ifequal request.session.username "seb" %}
				twemoji.parse(document.body);
				{% endifequal %}

				scrollArea();

				setInterval(function()
					{
						if (window.message_id) {
							$.get("/api/getlatestpost?message_id="+encodeURIComponent(window.message_id), function(data){
								$( "#message_feed" ).append( data );
								if (data.length>10) {
									if (document[hidden]) {
										new Notification(data);
									};
									scrollArea();

									{% ifequal device 'linux' %}
									twemoji.parse(document.body);
									{% endifequal %}
									{% ifequal request.session.username 'seb' %}
									twemoji.parse(document.body);
									{% endifequal %}
								};
							});

						}

						else {
							$.get("/api/getlatestpost", function(data){
								$( "#message_feed" ).append( data );
							});
						}
					},
					1000);

				// Temporary fix on iPhone
				$('body').animate({
					scrollTop:$('body').prop("scrollHeight")
				}, 300);

				$('#message_input').keyup(function(event){
					if (event.keyCode == 13) {
						if (!event.shiftKey) {
							sendChatMessage();
							$('#message_input')[0].value = "";
						}
					}
				})
			};

		</script>

	</head>
	<body>
		{% include "sidebar.html" %}
		<div class="pusher landing-image">
			{% include "header.html" %}
			<div class="ui {% comment "optional note" %}loading{% endcomment %} segment scroll area">
				<div class="ui feed" id="message_feed" name="message_feed" style="--webkit-overflow-scrolling: touch; max-height:85%;">
					{% for post in posts %}
						{% include "event.html" %}
					{% endfor %}
				</div>
			</div>
			<br>
			<div class="ui bottom attached segment">
				<!-- <form onsubmit="return sendChatMessage();"> -->
				<div class="ui form">
					<div class="ui action input" style="width:100%;">
						<textarea rows="2" placeholder="type message here" name="message_input" id="message_input" type="text"></textarea>
						<button onclick="sendChatMessage();" class="ui orange button" style="height: 38">Send</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
