<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% include "includes.html" %}
		<title>Log in!</title>
	</head>
	<body>
		{% include "sidebar.html" %}
		<div class="pusher landing-image">
			{% include "header.html" %}
			<div class="ui middle aligned center aligned grid">
				<div class="column">
					<div class="ui message">
						<h2 class="ui orange image header">
							<div class="content">Log in</div>
						</h2>
					</div>
					<div class="ui large form">
						<div class="ui stacked segment">
							<div class="field">
								<div class="ui left icon input">
									<i class="user icon"></i>
									<input type="text" name="username" id="username" placeholder="Username"></input>
								</div>
							</div>
							<div class="field">
								<div class="ui left icon input">
									<i class="lock icon"></i>
									<input type="password" name="password" id="password" placeholder="Password"></input>
								</div>
							</div>
							<div class="ui fluid large orange submit button">Log in</div>
						</div>
						<div class="ui error message"></div>
					</div>
					<div class="ui message">
						Don't have an account? <a href="/signup">Sign Up!</a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$('.ui.large.form').form({
				username: {
					identifier: 'username',
					rules: [
						{
							type: 'empty',
							prompt: 'Please enter your username.'
						}
					]
				},
				password: {
					identifier: 'password',
					rules: [
						{
							type: 'empty',
							prompt: 'Please enter your password.'
						}
					]
				}
			}, {
				onSuccess: function() {
					var e = $(this);
					var data = {
						username: e.form('get field', 'username').val(),
						password: e.form('get field', 'password').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}'
					}

					$.post('/login', data)
						.done(function(content, status) {
							if (status == 'success') {
								switch (content) {
									case 'password_error':
										e.form('add errors', [
											'Passwords was incorrect.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break;
									case 'username_error':
										e.form('add errors', [
											'No username named '+data.username+'.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break;
									case '':
										e.form('add errors', [
											'Server error [empty], try again later.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break;
									case 'success':
										window.location.replace('/');
										break
								}
							} else if (status == 'nocontent') {
								e.form('add errors', [
										'Server error [nocontent], try again later.'
								]).find('.error.message').show();
								$('.error.message').transition('shake');
							}
						})
						.fail(function(d, s, r) {
							e.form('add errors', [
								'Server error [fail], try again later.'
							]).find('.error.message').show();
							$('.error.message').transition('flash');
						});
				},
				onFailure: function() {
					$('.error.message').transition('shake');
				}
			});
		</script>
		
	</body>
</html>
