<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="/static/jquery-2.2.3.js"></script> 
		<link rel="stylesheet" type="text/css" href="/static/semantic.css">
		<script type="text/javascript" src="/static/semantic.js"></script>
		<script type="text/javascript" src="/static/components/form.js"></script>
		<script type="text/javascript" src="/static/components/transition.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/commonStyle.css">
		<script type="text/javascript" src="/static/scripts/toggleSidebar.js"></script>
		<title>Sign Up!</title>
	</head>
	<body>
		{% include "sidebar.html" %}
		<div class="pusher landing-image">
			{% include "header.html" %}
			<div class="ui middle aligned center aligned grid">
				<div class="column">
					<div class="white ui message">
						<h2 class="ui orange image header">
							<div class="content">Sign Up!</div>
						</h2>
					</div>
					<div class="ui large form">
						<div class="ui stacked segment">
							<div class="field">
								<div class="ui left icon input">
									<i class="mail icon"></i>
									<input type="text" name="email" placeholder="Email"></input>
								</div>
							</div>
							<div class="field">
								<div class="ui left icon input">
									<i class="user icon"></i>
									<input type="text" name="username" placeholder="Username"></input>
								</div>
							</div>
							<div class="field">
								<div class="ui left icon input">
									<i class="lock icon"></i>
									<input type="password" name="password" placeholder="Password"></input>
								</div>
							</div>
							<div class="field">
								<div class="ui left icon input">
									<i class="lock icon"></i>
									<input type="password" name="password_repeat" placeholder="Repeat password"></input>
								</div>
							</div>
							<div class="ui fluid large orange submit button">Sign Up</div>
						</div>
						<div class="ui error message"></div>
					</div>
					<div class="ui message">
						Already have an account? <a href="/login">Log in</a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$('.ui.large.form').form({
				email: {
					identifier: 'email',
					rules: [
						{
							type: 'empty',
							prompt: 'Please enter your email.'
						},
						{
							type: 'email',
							prompt: 'Please enter a valid email.'
						}
					]
				},
				username: {
					identifier: 'username',
					rules: [
						{
							type: 'empty',
							prompt: 'Please enter your username.'
						}
					]
				},
				password: {
					identifier: 'password',
					rules: [
						{
							type: 'empty',
							prompt: 'Please enter your password.'
						}
					]
				},
				password_repeat: {
					identifier: 'password_repeat',
					rules: [
						{
							type: 'empty',
							prompt: 'Please retype your password.'
						}
					]
				}
			}, {
				onSuccess: function() {
					var e = $(this);
					var data = {
							email: $(this).form('get field', 'email').val(),
							username: $(this).form('get field', 'username').val(),
							password: $(this).form('get field', 'password').val(),
							password_repeat: $(this).form('get field', 'password_repeat').val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'
					};

					$.post("/signup", data)
						.done(function(content, status) {
							if (status == 'success') {
								switch (content) {
									case 'email_error':
										e.form('add errors', [
											'Email is already taken.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break
									case 'password_missmatch':
										e.form('add errors', [
											'Passwords does not match.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break;
									case 'username_error':
										e.form('add errors', [
											'Username is already taken.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break;
									case '':
										e.form('add errors', [
											'Server error [empty], try again later.'
										]).find('.error.message').show();
										$('.error.message').transition('shake');
										break;
									case 'success':
										window.location.replace('/');
										break
								}
							} else if (status == 'nocontent') {
								e.form('add errors', [
										'Server error [nocontent], try again later.'
								]).find('.error.message').show();
								$('.error.message').transition('shake');
							}
						})
						.fail(function(d, s, r) {
							e.form('add errors', [
								'Server error [fail], try again later.'
							]).find('.error.message').show();
							$('.error.message').transition('flash');
						});
				},
				onFailure: function() {
					$('.error.message').transition('shake');
				}
			});
		</script>

	</body>
</html>
