<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/semantic.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
		<script type="text/javascript" src="/static/semantic.js"></script>
		<script type="text/javascript" src="/static/components/form.js"></script>
		<script type="text/javascript" src="/static/components/transition.js"></script>
		<title>Sign Up!</title>
	</head>
	<body>

		<style type="text/css">

			body {
				background-image: url('/static/blueprint_bg.jpg');
			}
			body > .grid {
				height: 100%;
			}
			.column {
				max-width: 480px;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.ui.form').form({
					fields: {
						username: {
							identifier: 'username',
							rules: [
								{
									type: 'empty',
									prompt: 'Please enter your username.'
								}
							]
						},
						password: {
							identifier: 'password',
							rules: [
								{
									type: 'empty',
									prompt: 'Please enter your password.'
								}
							]
						},
						email: {
							identifier: 'email',
							rules: [
								{
									type: 'empty',
									prompt: 'Please enter your email.'
								}
							]
						}
					}
				});
			});

		</script>
		{% if signup_status == 1 %}
			<i>Email taken</i>
		{% endif %}
		{% if signup_status == 2 %}
			<i>Password missmatch</i>
		{% endif %}
		{% if signup_status == 3 %}
			<i>Username taken</i>
		{% endif %}
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<h2 class="ui orange image header">
					<div class="content">Sign Up!</div>
				</h2>
				<form class="ui large form" method="POST" action="/signup">
					{% csrf_token %}
					<div class="ui stacked segment">
						<div class="field">
							<div class="ui left icon input">
								<i class="mail icon"></i>
								<input type="text" name="email" id="email" placeholder="Email"></input>
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" name="username" id="username" placeholder="Username"></input>
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input type="password" name="password" id="password" placeholder="Password"></input>
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input type="password" name="password_repeat" id="password_repeat" placeholder="Repeat password"></input>
							</div>
						</div>
						<div class="ui fluid large orange submit button">Sign Up</div>
					</div>
					<div class="ui error message"></div>
				</form>
				<div class="ui message">
					Already have an account? <a href="/login">Log in</a>
				</div>
			</div>
		</div>
	</body>
</html>
